.studio1, .studio4 {
	.column--content--full--container {
		height: auto !important;
		max-width: 1024px;
	}
}

.videocontainersp { 
	width: 100%;
  	padding-bottom: 56.25%;
  	display: block;
  	position: relative;
} 

.videocontainersp iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}